<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Female artists in the MoMA</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="heading">    
        <h2>MoM is thAt you?</h2>
        <h3>Female artists in the MoMA</h3>
    </div>

<div>
    <button id="new-artwork-button" onclick="startFetchingArtwork()">next please</button>

    <div id="progress">
        <div id="loadBar"></div>
      </div>

</div>

</header>


    <div id="artwork-container">
        <div class="imageDiv">
            <h1 id="artwork-title"><%= artwork.artistDisplayName %></h1>
            <p> <span id="artwork-artist"><%= artwork.title %></span></p>
            <p><strong>Medium:</strong> <span id="artwork-medium"><%= artwork.medium %></span></p>
            <p><strong>Object:</strong> <span id="artwork-objectName"><%= artwork.objectName %></span> </p>
        </div>

     
<div class="imageDiv">

    <% if (artwork.primaryImage) { %>
        <img id="artwork-image" src="<%= artwork.primaryImage %>" alt="<%= artwork.title %>" style="max-width: 100%;">
    <% } else { %>
        <p id="artwork-image">No image available</p>
    <% } %>

    <p> <span id="artwork-objectDate"><%= artwork.objectDate %></span> </p>
</div>

    </div>

<footer> <p><strong>Artist bio:</strong> <span id="artwork-artistDisplayBio"><%= artwork.artistDisplayBio %></span></p></footer>
    <script src="/main.js"></script>
</body>
</html>